<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about_project.css">
    <title>About Project</title>
</head>
<body>
    <div class="main">
    <h1>About Project</h1>
    <p>This project is based on the MERN Stack. Even though no React was used. Mongo DB is implemented, No CRUD needed. Express.js as backend. The web app is responsive and works perfectly with mobile devices.
    </p>
    <ul>
        <li class="headings">My struggles with the project:</li>
        <ol>
            <li>Getting it responsive to mobile devices</li>
            
            <li>Some CSS concepts such as flex-wrap, media queries</li>
            <li>the time buttons' value properties, had to assign value properties to submit button 😅</li>
            <li>Checkbox value property to determine if it was set to private or public</li>
        </ol>
        <li class="headings">What I learned and improved with this project:</li>
        <ol>
            <li>CSS responsiveness, especially for mobile devices</li>
            <li>More practice with MongoDB database</li>
            <li>The use of rem with font-sizes to help with responsiveness</li>
            <li>Running code on different times and dates</li>
            <li>Working with Stripe to implement payments</li>
        </ol>
    </ul>
</div>
</body>
</html>