<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Mail Sent</title>
    <link rel="stylesheet" href="../css/sent-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Ysabeau+Infant:wght@1&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main">
    <div>
        <div class="wave"></div>
        <div class="wave"></div>               
        <div class="wave"></div>
        </div>
        
    <div class="container">
        <h1>Your future email was succesfully sent!</h1>
        <p>Your future self should expect the email on <span class="date"><%= date %></span></p>
        <div class="button_container">
            <a href="/"><button class="return_button">Return Home</button></a>
            
        </div>
    </div>

</section>
</body>
</html>