* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 16px; 
}

.main {
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.main_title {
    color: whitesmoke;
    font-family: 'Agdasima', sans-serif;
    margin: 2rem
}

.main_title_sub_heading {
    font-size: 3rem;
}

.main_title_heading {
    font-size: 9rem;
}
.cursive {
    font-family: 'Mali', cursive;;
}

.small_text {
    font-size: 1.8rem;
}

.slogan {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: 'Ysabeau SC', sans-serif;
}

.email_word {
    text-decoration: underline;
}

.letter_container {
    width: 90%;
    margin: 7rem auto;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    z-index: 99;
    border-radius: 1rem;
    box-shadow: 0px 10px 37px 2px rgba(0,0,0,0.1);
}

.textarea {
    width: 90%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Mali', cursive;
    background-color: rgba(255, 255, 255, 0.702);
    padding: 1rem;
    color: black
}

.textarea:focus {
    background-color: rgb(206, 205, 205);
    border: 2px solid rgba(254, 175, 56, 0.747)
}

.letter_content {
    margin: 1.5rem auto;
    height: 100%
}
.time_container {
    width: 100%;
    margin: 0 2rem
}
.email_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 2rem;
    text-align: left;
}

.email_container input {
    border-radius: 10px;
    background-color: rgba(97, 95, 95, 0.223);
    width: 40%;
    height: 2.5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    padding-inline-start: .8rem;
    color: white
}

.email_container input::placeholder {
    color: rgb(255, 255, 255)
}

.email_container input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(97, 95, 95, 0.086);

}

.submit_button_container {
    display: flex;
    justify-content: end;
    margin: 1rem 0
}

.submit_button {
    width: 18rem;
    height: 3rem;
    background-color: white;
    color: white;
    border: black 1px solid;
    font-size: 0.9rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    border-radius: 3px;
    background-image: linear-gradient(to right, rgba(101,0,94,1) 0%, rgba(60,132,206,1) 51%, rgba(48,238,226,1) 100%);
    transition: 1s;
    margin: 1rem 1rem;
    
}

.submit_button:hover {
    background-position: left center;
    transform: scale(0.98);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;

}

.email_label {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 1rem 0;
    color: gray;
    width: 100%;
    margin: 1rem 2rem

}

.deliver_time_heading  {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 1rem 0;
    color: gray
}

.button_container {
    width: 100%;
    display: flex;
    margin: 1rem auto;
    text-align: left;
    gap: 3rem
    
}

.time_buttons {
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: .5rem;
    transition: 1s
}

.time_buttons:hover {
    background-color: rgb(78, 196, 235);
    border-radius: 4px;
    transition: 1s;
    cursor: pointer;
}


body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.middle_section {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 3rem auto;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    background-color: transparent;
    text-align: left; 
}

.reasons {
    margin-bottom: 3rem
}

.middle_section h1 {
    font-weight: 900;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    color:  #068DA9 ;
    margin: 4px 0
}

.middle_section p {
    line-height: 35px;
    font-weight: 300;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.2rem;
    color: #16525e;
    text-shadow:  #068DA9;
}

.about_container {
    height: 27rem;
    width: 100%;
    
    
}

.about_section {
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 8rem auto;
    border-radius: 20px;
    padding: 1rem
}

.left_side img {
    width: 100%;
    height: inherit;
    object-fit: contain;
    border-radius: 20px;
    overflow: hidden;
}

.left_side {    
    background-color: transparent;
    float: left;
    width: 40%;
    height: 100%;

}

.right_side {
    float: right;
    height: 100%;
    width: 60%;
    margin: 1rem 0;

}

.about_heading {
    margin: 0 .5rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    font-size: 3rem
}

.right_side p {
    width: 80%;
    font-family: 'JetBrains Mono', monospace;
    margin: 1rem .5rem;
    font-size: 1.2rem;
    
}

.buttons {
    display: inline-block;
    margin: 1.5rem .5rem
}



.donate_button {
    padding: .8rem 2rem;
    background-color: #FFDD00;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 800;
    transition: 1s;
    font-family: 'Mali', cursive;
    border: none;
    border-radius: 10px;

    
}


.donate_button:hover{
    cursor: pointer;
    background-color: black;
    color: #FFDD00;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    content: "Smile"
}

.contact_button {
    padding: .8rem 2rem;
    background-color: rgb(45, 45, 186);
    color: white;
    border: none;
    font-size: 1rem;
    transition: 1s;
}

.contact_button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 142);
    box-shadow: 1px 1px 1px 1px gray;
}

ul {
    margin: 1rem 0;
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    margin: 1rem;
    font-size: .9rem;
    
}

li a {
    text-decoration: none;
    color: black
}

li a:hover {
    color: rgb(33, 33, 180);
    cursor: pointer;
}

.stripe_badge {
    display: block;
    position: relative;
    top: -2rem;
    width: 6.25rem;
    height: 3rem;
    margin: 0 .5rem
}

.selected {
    background-color: rgb(47, 184, 230);
    border-radius: 4px;
}



label:checked {
    background-color: #061a1f;
    border: 1px solid blueviolet
}

.date {
    background-color: rgb(184, 184, 211);
    border-radius: 30px;
    padding: .5rem;
    border: none;
    font-size: 1rem
}

.date:focus-visible {
    border: 1px solid #2196F3;
}

.private_heading {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 1rem 2rem;
    color: gray
}

.private_option {
    background-color: blue;
    visibility: visible;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.1rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.65rem;
    width: 1.625rem;
    left: 0,125rem;
    bottom: .22rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(1.8rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle_container {
    text-align: left;
    margin: 0 2rem;
    
    
  }

  .privacy_label {
    display: inline-block;
    position: relative;
    top: .625rem;
    left: .625rem;
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
  }


  
  @media only screen and (max-width: 826px) {
    html {font-size: 10px;}
    .left_side {
        width: 50%;
    }
    .right_side {
        width: 50%;
    }

  }



  @media only screen and (max-width: 616px) {
    html {font-size: 10px;}

    .about_container {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
    }

    .left_side {
        width: 100%;
        margin: auto
    }

    .right_side {
        width: 100%;
        
    }
  }

  @media only screen and (max-width: 537px) {
    html {font-size: 10px;}
    
    .button_container {
        flex-wrap: wrap;
    }
    .email_container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin: 2rem;
        text-align: center;
    }
    .email_container input {
        margin: 1rem 0;
        width: 60%;
        height: 2.5rem;
        border-radius: 10px;
        text-align: left;
        padding-inline-start: 1rem
        
  }


  .quick_links {
    text-align: center;
  }
  }

  @media only screen and (max-width: 310px) {
    html {font-size: 10px;}

    .about_section {
        width: 90%;
        margin: 0 auto
    }

    .button_container {
        flex-wrap: wrap;
    }
    .email_container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin: 2rem;
        text-align: center;
    }
    .email_container input {
        margin: 1rem 0;
        width: 60%;
        height: 2.5rem;
        border-radius: 2px;
        text-align: left;
        padding-inline-start: 1rem
        
  }
}
    





  .carousel_heading {
    text-align: center;
    font-size: 2rem;
    font-family: 'JetBrains Mono', monospace;
    color: #068DA9;
    margin: 4rem 1rem;
  }


  .slideshow-container {
    max-width: 85%;
    height: 100%;
    margin: 1rem auto;
    position: relative;
  }
  

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 85%;
    width: auto;
    margin-top: -1.7rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0.4;

  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
  }
  
 
 
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #f2f2f2;
    font-size: 1rem;
    font-family: 'Lilita One', cursive;

    position: relative;
    bottom: 8px;
    width: 100%;
    height: inherit;
    text-align: center;
    background-color: rgba(110, 110, 110, 0.483);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
    

  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
 
  

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  

  .email_carousel {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
  }

  .author {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .emailContent {
    margin: 3rem;
    font-size: 2rem;
    color: white
  }
